body
{
  font-family:'Nunito';
  font-weight: 300;
  COLOR: #555555;
}

img {
	float; right;
  max-width: 45%;
}


.normal{
  font-family:'Nunito';
  font-weight: 300;
  COLOR: #11111;
}

.code_description{
	text-indent:50px;
}

body a:link {font-weight: 400; text-decoration: none; color: #333333; outline: 0; }
body a:visited {font-weight: 400; text-decoration: none; color: #333333; outline: 0; }
body a:active {font-weight: 400; text-decoration: none; color: #333333; outline: 0; }
body a:hover {font-weight: 400; color: #11aaff; outline: 0; }


.highlight {
	font-weight: 400; 
	text-decoration: none; 
	color: #333333; 
	outline: 0;
}

highlight:hover {font-weight: 400; text-decoration: none; color: #11aaff; outline: 0; }


.publications
{
  margin-bottom:12.0pt;
  margin-top:1em;
  line-height: 1.5;
}


.page_titles{
	font-size:28.0pt;
	color:#002266;
	font-weight: 400;
	max-width: 45%;
}

.h2_style {
	color:#1A4D11;
}

li {
	margin-bottom:0.3cm;
}
