body .cv {
  font-family:'Nunito';
  font-weight: 300;
  COLOR: #555555;
  margin-left:10%;
  margin-right:10%;
}

body .top {
  overflow: auto;
}

body .cv .top .avatar img {
  margin: 15px;
  max-height: 220px;
}

body .cv .top .title {
	font-size:4vw;
	color:#002266;
	font-weight: 400;
  margin-top: 15px;
}

body .cv .top .subtitle {
	font-size:3vw;
  font-family:'Alef Hebrew';
	color:#002266;
	font-weight: 400;
  text-align: right;
  margin-top: 15px;
}

body .cv .top .social {
  clear: both;
}

body .cv .text {
  font-family:'Nunito';
  font-weight: 300;
  font-size: 16px;
  COLOR: #11111;
}

body .cv a:link {font-weight: 400; text-decoration: none; color: #333333; outline: 0; }
body .cv a:visited {font-weight: 400; text-decoration: none; color: #333333; outline: 0; }
body .cv a:active {font-weight: 400; text-decoration: none; color: #333333; outline: 0; }
body .cv a:hover {font-weight: 400; color: #11aaff; outline: 0; }

body .cv .highlight {
	font-weight: 400; 
	text-decoration: none; 
	color: #333333; 
	outline: 0;
}

body .cv highlight:hover {font-weight: 400; text-decoration: none; color: #11aaff; outline: 0; }

body .cv .publications {
  margin-bottom:12.0pt;
  margin-top:1em;
  line-height: 1.5;
}

body .cv .publications .abstract {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}

body .cv .header {
	color:#1A4D11;
}

body .cv li {
	margin-bottom:0.3cm;
}
