form {
    font-family: Montserrat, sans-serif;
    margin: 25px auto 30px;
    max-width: 80%;
}
img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
tt, pre {
	font-family:
		"Liberation Mono",
		"Ubuntu Monospace",
		monaco,
		"Lucida Console",
		"Droid Sans Mono",
		"DejaVu Sans Mono",
		monospace;
	font-size: 10pt;
}
code.xml {
    font-family: monospace;
}
span.r { color: red; }
span.b { color: blue; }
span.tt { font-family: monospace; }
.m { background: #ffe96c; }
.item { white-space: nowrap; display: inline;  }
